<section class="footer_section">
    <div claas="w_1200 m_auto d_flex">
        <div class="w_50pr">
            <img class="logo h_40" src="{{ base_url }}/modules/custom/pages/images/logo.png">
        </div>
        <div claas="w_50pr t_right">
            <p>&copy; Bce права защищены 2018</p>
        </div>
    </div>
</section>