<section class="head_section">
    <input type="hidden" id="base_url" value="{{ base_url }}">
    <div class="w_1200 m_auto">
        <img src="{{ base_url }}/modules/custom/pages/images/logo.png" alt="" class="logo">
    </div>

    <div class="title">{{ data.title }}</div>
</section>